@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Studentu 50<br />
    Kaunas, Lietuva<br />
</address>

<address>
    <strong>Project Manager</strong>   <a href="mailto:erlandas.trumpickas@gmail.com">erlandas.trumpickas@gmail.com</a><br />
    <strong>Igaliotinis</strong> <a href="mailto:arvydas.daubaris@gmail.com">arvydas.daubaris@gmail.com</a>
</address>