
<section id="footer">
    <div class="logo v-align">
        <a class="logo-text" href="/">
            WAT
        </a>
    </div>
    <div class="text v-align">
        <strong>Arvydas Daubaris</strong> && <strong>Erlandas Trumpcikas</strong> &copy; @DateTime.Now.Year
    </div>
</section>