<section id="header">
    <div class="clearfix">
        <div class="logo pull-left">
            <a class="logo-text" href="/">
                WAT
            </a>
        </div>
        <div class="pull-right">
            <ul class="top-menu">
                <li><a href="/">Login</a></li>
                <li><a href="/">Register</a></li>
            </ul>
        </div>
    </div>
</section>
<section id="menu">
    <ul class="menu">
        <li class="current active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/">About</a>
        </li>
        <li class="parent">
            <a href="/">Pages</a>
            <ul class="sub-menu">
                <li>
                    <a href="/">Testimonials</a>
                </li>
                <li>
                    <a href="/">Pricing</a>
                </li>
                <li>
                    <a href="/">Tests</a>
                </li>
                <li>
                    <a href="/">More tests boyy</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/">Blog</a>
        </li>
        <li>
            <a href="/">Contacts</a>
        </li>
    </ul>
</section>