<section id="sidebar">
    <div class="sidebox">
        <div class="title">Top rated</div>
        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>John doe badboy</td>
                    <td>9999</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John doe badboy</td>
                    <td>9999</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John doe badboy</td>
                    <td>9999</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>John doe badboy</td>
                    <td>9999</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="sidebox">
        <div class="title">Top rated</div>
        <div class="content">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>John doe badboy</td>
                        <td>9999</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John doe badboy</td>
                        <td>9999</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John doe badboy</td>
                        <td>9999</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John doe badboy</td>
                        <td>9999</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>