// Colors
$c_blue: #2f3247;
$c_gray: #dedede;
$c_yellow: #ffbc19;
$c_background: #F7F7F7;

// Fonts
$f_sans: 'Open Sans', sans-serif;
$f_default: $f_sans;
$f_default_size: 16px;

//Default settings
$s_radius: 3px;